.bg-sand {
  background-color: #ebddc1;
}

.bg-azulclaro {
  background-color: #095B93;
}

.bg-cel {
  background-color: #489AC2;
}

.bg-w2 {
  background-color: #FFCC57;
}

.btn-cel {
  background-color: #33cabb;

}