<div class="container-fluid bg-w2">
  <div data-toggle="collapse" href="#collapseCov19" role="button">
    <p class="text-center m-0"><i class="fa fa-info-circle"></i> Información relacionada al COVID-19</p>
  </div>
  <div class="collapse" id="collapseCov19">
    <div class="container card-body">
      <p>
        Te recomendamos consultar si hay restricciones de viaje. Es posible que
        solo se permita viajar por motivos específicos y que, en particular, los
        viajes turísticos no estén permitidos.
      </p>
      <a href="">Leer más</a>
    </div>
  </div>
</div>

<div class="container-fluid bg-sand">
  <div class="container pt-5">
    <p class="h1">Encontra el lugar que tu familia necesita</p>
    <p>
      Desde el confort de nuestras carpas y sombrillas hasta todos los servicios que tenemos incluidos para nuestros visitantes
    </p>
  </div>
  <div class="container py-5">
    <form (ngSubmit)="irCroquis()">
      <p class="h5">¿Qué días planeas visitarnos?</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fechainicio">Fecha inicial</label>
          <input type="date" class="form-control" id="fechainicio">
        </div>
        <div class="form-group col-md-6">
          <label for="fechafin">Fecha final</label>
          <input type="date" class="form-control" id="fechafin">
        </div>
      </div>
     <button type="submit" class="btn btn-cel ">Ver disponibilidad</button>
    </form>
  </div>
</div>

<div class="container-fluid bg-azulclaro text-light">
  <div class="container">
    <h2 class="h3 text-center py-5">Servicios</h2>
  </div>


  <div class="container pb-5">
    <!--First row-->
    <div class="row features-small">

      <!--First column-->
      <div class="col-md-6">
        <!--First row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-umbrella fa-2x" style="color: #339af0;"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Alquiler de carpas y sombrillas</h6>
            <p class="grey-text">
                Carpas para 6 personas y sombrillas para 5 personas. Ambas equipadas con mesa, sillas, sillón californiano y perchero.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/First row-->

        <!--Second row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-child fa-2x" style="color: #339af0;" ></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Pileta infantil</h6>
            <p class="grey-text">
              Pileta recreativa con distintos juegos de agua.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Second row-->

        <!--Third row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-tint fa-2x" style="color: #339af0;" ></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Pileta adultos</h6>
            <p class="grey-text">
                Pileta de natación semiolímpica, con rampa de acceso. Anímate a disfrutar de las clases de aquagym y otras actividades.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Third row-->

        <!--Fourth row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-smile-o fa-2x" style="color: #339af0;"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Costumbres argentinas</h6>
            <p class="grey-text">
                Compartimos la pasión de unos ricos mates en la playa, por eso te ofrecemos la recarga de agua
                caliente sin cargo las veces que quieras y microondas para lo que necesites.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Fourth row-->

        <!--Fifth row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-futbol-o fa-2x" style="color: #339af0;"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Entretenimiento</h6>
            <p class="grey-text">
                Disfrutá de la cancha de basquet, futbol tenis, mesa de ping pong y metegoles.
                Para niños: torre de juegos con toboganes, hamacas, calecitas,  escalador y juegos de mesa.
                También tenemos actividades recreativas a cargo de profesores.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Fifth row-->
      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="col-md-6">
        <!--First row-->
        <div class="row">
          <div class="col-2">
            <i class="fa fa-sun-o fa-2x" style="color: #339af0;" ></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Solarium</h6>
            <p class="grey-text">
                Para la comodidad de todos, contamos con un amplio solarium alrededor de la piscina, equipado con reposeras y tumbonas.
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/First row-->

          <!--Second row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-shower fa-2x" style="color: #339af0;" ></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Vestuarios</h6>
              <p class="grey-text">
                  Renovados y amplios con todo lo necesario para el aseo personal, cambiadores individuales y para bebes,
                  secadores de pelo y lockers. También contamos con un sector exclusivo para madres con niños.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Second row-->

          <!--Fourth row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-wheelchair-alt fa-2x" style="color: #339af0;"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Accesibilidad</h6>
              <p class="grey-text">
                  Ingreso al balneario desde el Boulevard Marítimo a través de rampas.
                  Vestuarios y baños adaptados. Piscina con rampa de acceso y silla anfibia.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Fourth row-->

          <!--Fifth row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-heart fa-2x" style="color: #339af0;"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Prevención</h6>
              <p class="grey-text">
                  Servicio de guardavidas en piscinas y playa. Control de accesos. Servicio de cobertura de médica. DEA.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Fifth row-->

          <!--Sixth row-->
          <div class="row">
            <div class="col-2">
              <i class="fa fa-wifi fa-2x" style="color: #339af0;"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Mas comodidades</h6>
              <p class="grey-text">
                  Area WiFi, guardería de objetos personales, y para que
                  no te falte nada en tu día de playa: Kiosco y locales gastronomicos.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Sixth row-->
      </div>
    </div>
  </div>
</div>
