<div>
    <div class="btn " data-toggle="collapse" href="#collapseCov19" role="button" aria-expanded="false" aria-controls="collapseCov19" class="link-ss">
        <span class="titulo">Ayuda relacionada con el coronavirus (COVID-19)</span>
    </div>
    <div class="link-ss collapse" id="collapseCov19">
        <div class="card card-body subtitulo">
            <span>
            Te recomendamos consultar si hay restricciones de viaje. Es posible que solo se permita viajar por motivos específicos y que, en particular, los viajes turísticos no estén permitidos.
        </span>
            <a href="">Leer más</a>
        </div>
    </div>
</div>