<div class="container-fluid bg-warning">
  <div data-toggle="collapse" href="#collapseCov19" role="button">
    <p class="text-center m-0"><i class="fa fa-info-circle"></i> Información relacionada al COVID-19</p>
  </div>
  <div class="collapse" id="collapseCov19">
    <div class="container card-body">
      <p>
        Te recomendamos consultar si hay restricciones de viaje. Es posible que
        solo se permita viajar por motivos específicos y que, en particular, los
        viajes turísticos no estén permitidos.
      </p>
      <a href="">Leer más</a>
    </div>
  </div>
</div>

<div class="container-fluid bg-sand">
  <div class="container pt-5">
    <p class="h1">ENCONTRA EL LUGAR QUE TU FAMILIA NECESITA</p>
    <p>
      Desde el confort de nuestras carpas y sombrillas hasta todos los servicios que tenemos incluidos para nuestros visitantes
    </p>
  </div>
</div>  
<div class="container-fluid bg-primary">
  <div class="container py-5">
    <form (ngSubmit)="irCroquis()">
      <p class="h5">¿Qué días planeas visitarnos?</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fechainicio">Fecha inicial</label>
          <input type="date" class="form-control" id="fechainicio">
        </div>
        <div class="form-group col-md-6">
          <label for="fechafin">Fecha final</label>
          <input type="date" class="form-control" id="fechafin">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Ver disponibilidad</button>
    </form>
  </div>
</div>
