/* You can add global styles to this file, and also import other style files */
.bg-sand {
  background-color: #ebddc1;
}

.bg-sand {
  background-color: #ebddc1;
}

.bg-azulclaro {
  background-color: #095B93;
}

.bg-cel {
  background-color: #489AC2;
}

.bg-w2 {
  background-color: #FFCC57;
}

.btn-cel {
  background-color: #33cabb;
}

.encabezadoCard{
  font-size: 15 px;
  color: rgba(1, 1,1, 0.5);
}
.item-style{
  font-size: 20 px;
  color: rgba(1, 1,1, 0.9);
  padding-left: 20px;
}
.card-reserva{
padding: 15px;
border-color:  #095B93;
}
.botones-Reserva{
width: 100%;
margin: 5px ;
}
.botones{

  float:none;
	text-align:center;
}
