<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 href="#" class="navbar-brand">Balneario<b>Pepe</b></h1>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link">Inicio</a>
            <a href="#" class="nav-item nav-link">Reserva</a>

        </div>

        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Iniciar Sesión</a>
                <div class="dropdown-menu action-form">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <p class="hint-text">
                            Inicie sesión con su cuenta de redes sociales</p>
                        <div class="form-group social-btn clearfix">
                            <a href="#" class="btn btn-secondary facebook-btn float-left"><i class="fa fa-facebook"></i> Facebook</a>
                            <a href="#" class="btn btn-secondary twitter-btn float-right"><i class="fa fa-twitter"></i> Twitter</a>
                        </div>
                        <div class="or-seperator"><b>o</b></div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Usuario" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña" required="required">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Entrar">
                        <div class="text-center mt-2">
                            <a href="#">
                                ¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Creá una Cuenta</a>
                <div class="dropdown-menu action-form">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <p class="hint-text">
                            ¡Complete este formulario para crear su cuenta!</p>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Usuario" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirmar Contraseña" required="required">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Correo Electronico" required="required">
                        </div>
                        <div class="form-group">
                            <label class="form-check-label"><input type="checkbox" required="required"> Acepto los <a href="#">Terminos &amp; Condiciones</a></label>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Crear">
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>