<div class="contenedor">
    <div>
        <h1>Confirmar Reserva</h1>
        <div>
            <p>Realice el pago de $10.000 al CBU 241243124234124312431 en las proximas 72hs, adjunte el comprobante y presione terminar para confirmar la reserva</p>
        </div>
        <form>
            <div class="custom-file" style="width: 80%;">
                <input type="file" class="custom-file-input " id="customFileLang">
                <label class="custom-file-label " for="customFileLang">Seleccionar Archivo </label>
            </div>
            <button class="btn btn-primary float-right">Terminar</button>
        </form>
    </div>
</div>