<div class="contenedor">
  <div class="text-center">
    <h1 class="titulo">¡¡Importante!!</h1>
    <div class="cuerpo">
      <p>
        Para confirmar la reserva se tiene que pagar el 30% del valor total.
        Realice el pago de ${{ total }} al CBU {{ cbu }} en las proximas 72hs,
        luego desde sus perfil ingrese a "Mis Reservas" y adjunte el
        comprobante.
      </p>
      <p>
        Por favor tega en cuenta que si no adjunta el comprobante en el termino
        de 96hs la reserva se cancelara
      </p>
    </div>
  </div>
</div>
