<!--Area calculadora de precio total-->
<div class="container-fluid bg-sand">
  <div class="atencion">
    <p class="m-0">
      <strong>Atencion:</strong> La capacidad de las carpas es de 4 personas
      como maximo, para su visita recomendamos 1 carpa
    </p>
  </div>
  <form (ngSubmit)="comprar()">
    <div class="formulario">
      <span class="mr-3">Carpas: </span><span> {{ carpa }}</span>
      <span> Sombrillas:</span><span> {{ sombrilla }}</span> <span> Total:</span
      ><span>${{ total }}</span>
      <button
        class="boton-reservar align-bottom float-right"
        id="botonReservar"
      >
        Reservar
      </button>
    </div>
  </form>

  <!--Area carpas-->
  <div class="">
    <div
      class="link-ss"
      data-toggle="collapse"
      href="#carpa"
      role="button"
      aria-expanded="false"
      aria-controls="carpa"
    >
      <button class="boton-opciones btn" (click)="botonCarpas()">
        <span class="p-0"> Area de Carpas</span>
        <i *ngIf="ctrFlechasCarpas" class="float-right fa fa-arrow-down"></i
        ><i class="float-right fa fa-arrow-up" *ngIf="!ctrFlechasCarpas"></i>
      </button>
    </div>
    <div id="carpa" class="collapse">
      <div>
        <div class="cabezeraizquierda">
          <button
            id="c1"
            name="c1"
            class="carpa"
            (click)="reservableSeleccionar('c1', 'carpa', 1)"
          >
            1
          </button>
          <button
            id="c2"
            (click)="reservableSeleccionar('c2', 'carpa', 2)"
            class="carpa"
          >
            2
          </button>
          <button
            id="c3"
            (click)="reservableSeleccionar('c3', 'carpa', 3)"
            class="carpa"
          >
            3
          </button>
          <button
            id="c4"
            (click)="reservableSeleccionar('c4', 'carpa', 4)"
            class="carpa"
          >
            4
          </button>
          <button
            id="c5"
            class="carpa"
            (click)="reservableSeleccionar('c5', 'carpa', 5)"
          >
            5
          </button>
        </div>
        <div class="cabezeraderecha">
          <button
            id="c6"
            (click)="reservableSeleccionar('c6', 'carpa', 6)"
            class="carpa"
          >
            6
          </button>
          <button
            id="c7"
            (click)="reservableSeleccionar('c7', 'carpa', 7)"
            class="carpa"
          >
            7
          </button>
          <button
            id="c8"
            (click)="reservableSeleccionar('c8', 'carpa', 8)"
            class="carpa"
          >
            8
          </button>
          <button
            id="c9"
            (click)="reservableSeleccionar('c9', 'carpa', 9)"
            class="carpa"
          >
            9
          </button>
          <button
            id="c10"
            (click)="reservableSeleccionar('c10', 'carpa', 10)"
            class="carpa"
          >
            10
          </button>
        </div>
      </div>
      <div>
        <!--Hilera 1-->
        <div class="hilera1">
          <div>
            <button
              class="carpa"
              id="c11"
              (click)="reservableSeleccionar('c11', 'carpa', 11)"
            >
              11
            </button>
            <button
              class="carpa"
              id="c38"
              (click)="reservableSeleccionar('c38', 'carpa', 38)"
            >
              38
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c12"
              (click)="reservableSeleccionar('c12', 'carpa', 12)"
            >
              12
            </button>
            <button
              class="carpa"
              id="c37"
              (click)="reservableSeleccionar('c37', 'carpa', 37)"
            >
              37
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c13"
              (click)="reservableSeleccionar('c13', 'carpa', 13)"
            >
              13
            </button>
            <button
              class="carpa"
              id="c36"
              (click)="reservableSeleccionar('c36', 'carpa', 36)"
            >
              36
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c14"
              (click)="reservableSeleccionar('c14', 'carpa', 14)"
            >
              14
            </button>
            <button
              class="carpa"
              id="c35"
              (click)="reservableSeleccionar('c35', 'carpa', 35)"
            >
              35
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c15"
              (click)="reservableSeleccionar('c15', 'carpa', 15)"
            >
              15
            </button>
            <button
              class="carpa"
              id="c34"
              (click)="reservableSeleccionar('c34', 'carpa', 34)"
            >
              34
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c16"
              (click)="reservableSeleccionar('c16', 'carpa', 16)"
            >
              16
            </button>
            <button
              class="carpa"
              id="c33"
              (click)="reservableSeleccionar('c33', 'carpa', 33)"
            >
              33
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c17"
              (click)="reservableSeleccionar('c17', 'carpa', 17)"
            >
              17
            </button>
            <button
              class="carpa"
              id="c32"
              (click)="reservableSeleccionar('c32', 'carpa', 32)"
            >
              32
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c18"
              (click)="reservableSeleccionar('c18', 'carpa', 18)"
            >
              18
            </button>
            <button
              class="carpa"
              id="c31"
              (click)="reservableSeleccionar('c31', 'carpa', 31)"
            >
              31
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c19"
              (click)="reservableSeleccionar('c19', 'carpa', 19)"
            >
              19
            </button>
            <button
              class="carpa"
              id="c30"
              (click)="reservableSeleccionar('c30', 'carpa', 30)"
            >
              30
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c20"
              (click)="reservableSeleccionar('c20', 'carpa', 20)"
            >
              20
            </button>
            <button
              class="carpa"
              id="c29"
              (click)="reservableSeleccionar('c29', 'carpa', 29)"
            >
              29
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c21"
              (click)="reservableSeleccionar('c21', 'carpa', 21)"
            >
              21
            </button>
            <button
              class="carpa"
              id="c28"
              (click)="reservableSeleccionar('c28', 'carpa', 28)"
            >
              28
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c22"
              (click)="reservableSeleccionar('c22', 'carpa', 22)"
            >
              22
            </button>
            <button
              class="carpa"
              id="c23"
              (click)="reservableSeleccionar('c23', 'carpa', 23)"
            >
              23
            </button>
            <button
              class="carpa"
              id="c24"
              (click)="reservableSeleccionar('c24', 'carpa', 24)"
            >
              24
            </button>
            <button
              class="carpa"
              id="c25"
              (click)="reservableSeleccionar('c25', 'carpa', 25)"
            >
              25
            </button>
            <button
              class="carpa"
              id="c26"
              (click)="reservableSeleccionar('c26', 'carpa', 26)"
            >
              26
            </button>
            <button
              class="carpa"
              id="c27"
              (click)="reservableSeleccionar('c27', 'carpa', 27)"
            >
              27
            </button>
          </div>
        </div>
        <!--Hilera central-->
        <div class="hilera2">
          <div>
            <button
              class="carpa"
              id="c39"
              (click)="reservableSeleccionar('c39', 'carpa', 39)"
            >
              39
            </button>
            <button
              class="carpa"
              id="c65"
              (click)="reservableSeleccionar('c65', 'carpa', 65)"
            >
              65
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c40"
              (click)="reservableSeleccionar('c40', 'carpa', 40)"
            >
              40
            </button>
            <button
              class="carpa"
              id="c64"
              (click)="reservableSeleccionar('c64', 'carpa', 64)"
            >
              64
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c41"
              (click)="reservableSeleccionar('c41', 'carpa', 41)"
            >
              41
            </button>
            <button
              class="carpa"
              id="c63"
              (click)="reservableSeleccionar('c63', 'carpa', 63)"
            >
              63
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c42"
              (click)="reservableSeleccionar('c42', 'carpa', 42)"
            >
              42
            </button>
            <button
              class="carpa"
              id="c62"
              (click)="reservableSeleccionar('c62', 'carpa', 62)"
            >
              62
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c43"
              (click)="reservableSeleccionar('c43', 'carpa', 43)"
            >
              43
            </button>
            <button
              class="carpa"
              id="c61"
              (click)="reservableSeleccionar('c61', 'carpa', 61)"
            >
              61
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c44"
              (click)="reservableSeleccionar('c44', 'carpa', 44)"
            >
              44
            </button>
            <button
              class="carpa"
              id="c60"
              (click)="reservableSeleccionar('c60', 'carpa', 60)"
            >
              60
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c45"
              (click)="reservableSeleccionar('c45', 'carpa', 45)"
            >
              45
            </button>
            <button
              class="carpa"
              id="c59"
              (click)="reservableSeleccionar('c59', 'carpa', 59)"
            >
              59
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c46"
              (click)="reservableSeleccionar('c46', 'carpa', 46)"
            >
              46
            </button>
            <button
              class="carpa"
              id="c58"
              (click)="reservableSeleccionar('c58', 'carpa', 58)"
            >
              58
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c47"
              (click)="reservableSeleccionar('c47', 'carpa', 47)"
            >
              47
            </button>
            <button
              class="carpa"
              id="c57"
              (click)="reservableSeleccionar('c57', 'carpa', 57)"
            >
              57
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c48"
              (click)="reservableSeleccionar('c48', 'carpa', 48)"
            >
              48
            </button>
            <button
              class="carpa"
              id="c56"
              (click)="reservableSeleccionar('c56', 'carpa', 56)"
            >
              56
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c49"
              (click)="reservableSeleccionar('c49', 'carpa', 49)"
            >
              49
            </button>
            <button
              class="carpa"
              id="c55"
              (click)="reservableSeleccionar('c55', 'carpa', 55)"
            >
              55
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c50"
              (click)="reservableSeleccionar('c50', 'carpa', 50)"
            >
              50
            </button>
            <button
              class="carpa"
              id="c51"
              (click)="reservableSeleccionar('c51', 'carpa', 51)"
            >
              51
            </button>
            <button
              class="carpa"
              id="c52"
              (click)="reservableSeleccionar('c52', 'carpa', 52)"
            >
              52
            </button>
            <button
              class="carpa"
              id="c53"
              (click)="reservableSeleccionar('c53', 'carpa', 53)"
            >
              53
            </button>
            <button
              class="carpa"
              id="c54"
              (click)="reservableSeleccionar('c54', 'carpa', 54)"
            >
              54
            </button>
          </div>
        </div>
        <!--Hilera de la derecha-->
        <div class="hilera3">
          <div>
            <button
              class="carpa"
              id="c66"
              (click)="reservableSeleccionar('c66', 'carpa', 66)"
            >
              66
            </button>
            <button
              class="carpa"
              id="c93"
              (click)="reservableSeleccionar('c93', 'carpa', 93)"
            >
              93
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c67"
              (click)="reservableSeleccionar('c67', 'carpa', 67)"
            >
              67
            </button>
            <button
              class="carpa"
              id="c92"
              (click)="reservableSeleccionar('c92', 'carpa', 92)"
            >
              92
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c68"
              (click)="reservableSeleccionar('c68', 'carpa', 68)"
            >
              68
            </button>
            <button
              class="carpa"
              id="c91"
              (click)="reservableSeleccionar('c91', 'carpa', 91)"
            >
              91
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c69"
              (click)="reservableSeleccionar('c69', 'carpa', 69)"
            >
              69
            </button>
            <button
              class="carpa"
              id="c90"
              (click)="reservableSeleccionar('c90', 'carpa', 90)"
            >
              90
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c70"
              (click)="reservableSeleccionar('c70', 'carpa', 70)"
            >
              70
            </button>
            <button
              class="carpa"
              id="c89"
              (click)="reservableSeleccionar('c89', 'carpa', 89)"
            >
              89
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c71"
              (click)="reservableSeleccionar('c71', 'carpa', 71)"
            >
              71
            </button>
            <button
              class="carpa"
              id="c88"
              (click)="reservableSeleccionar('c88', 'carpa', 88)"
            >
              88
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c72"
              (click)="reservableSeleccionar('c72', 'carpa', 72)"
            >
              72
            </button>
            <button
              class="carpa"
              id="c87"
              (click)="reservableSeleccionar('c87', 'carpa', 87)"
            >
              87
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c73"
              (click)="reservableSeleccionar('c73', 'carpa', 73)"
            >
              73
            </button>
            <button
              class="carpa"
              id="c86"
              (click)="reservableSeleccionar('c86', 'carpa', 86)"
            >
              86
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c74"
              (click)="reservableSeleccionar('c74', 'carpa', 74)"
            >
              74
            </button>
            <button
              class="carpa"
              id="c85"
              (click)="reservableSeleccionar('c85', 'carpa', 85)"
            >
              85
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c75"
              (click)="reservableSeleccionar('c75', 'carpa', 75)"
            >
              75
            </button>
            <button
              class="carpa"
              id="c84"
              (click)="reservableSeleccionar('c84', 'carpa', 84)"
            >
              84
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c76"
              (click)="reservableSeleccionar('c76', 'carpa', 76)"
            >
              76
            </button>
            <button
              class="carpa"
              id="c83"
              (click)="reservableSeleccionar('c83', 'carpa', 83)"
            >
              83
            </button>
          </div>
          <div>
            <button
              class="carpa"
              id="c77"
              (click)="reservableSeleccionar('c77', 'carpa', 77)"
            >
              77
            </button>
            <button
              class="carpa"
              id="c78"
              (click)="reservableSeleccionar('c78', 'carpa', 78)"
            >
              78
            </button>
            <button
              class="carpa"
              id="c79"
              (click)="reservableSeleccionar('c79', 'carpa', 79)"
            >
              79
            </button>
            <button
              class="carpa"
              id="c80"
              (click)="reservableSeleccionar('c80', 'carpa', 80)"
            >
              80
            </button>
            <button
              class="carpa"
              id="c81"
              (click)="reservableSeleccionar('c81', 'carpa', 81)"
            >
              81
            </button>
            <button
              class="carpa"
              id="c82"
              (click)="reservableSeleccionar('c82', 'carpa', 82)"
            >
              82
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Area sombrillas-->
  <div>
    <div
      class="link-ss"
      data-toggle="collapse"
      href="#sombrilla"
      role="button"
      aria-expanded="false"
      aria-controls="sombrilla"
    >
      <button class="btn boton-opciones" (click)="botonSombrillas()">
        <span class="p-0">Area de Sombrillas</span
        ><i
          *ngIf="ctrFlechasSombrillas"
          class="float-right fa fa-arrow-down"
        ></i>
        <i
          id="carpup"
          class="float-right fa fa-arrow-up"
          *ngIf="!ctrFlechasSombrillas"
        ></i>
      </button>
    </div>
    <div id="sombrilla" class="pb-1 collapse">
      <!--primera fila-->
      <div class="mt-2 text-center">
        <button
          class="sombrilla"
          id="s1"
          (click)="reservableSeleccionar('s1', 'sombrilla', 1)"
        >
          1
        </button>
        <button
          class="sombrilla"
          id="s2"
          (click)="reservableSeleccionar('s2', 'sombrilla', 2)"
        >
          2
        </button>
        <button
          class="sombrilla"
          id="s3"
          (click)="reservableSeleccionar('s3', 'sombrilla', 3)"
        >
          3
        </button>
        <button
          class="sombrilla"
          id="s4"
          (click)="reservableSeleccionar('s4', 'sombrilla', 4)"
        >
          4
        </button>
        <button
          class="sombrilla"
          id="s5"
          (click)="reservableSeleccionar('s5', 'sombrilla', 5)"
        >
          5
        </button>
        <button
          class="sombrilla"
          id="s6"
          (click)="reservableSeleccionar('s6', 'sombrilla', 6)"
        >
          6
        </button>
        <button
          class="sombrilla"
          id="s7"
          (click)="reservableSeleccionar('s7', 'sombrilla', 7)"
        >
          7
        </button>
        <button
          class="sombrilla"
          id="s8"
          (click)="reservableSeleccionar('s8', 'sombrilla', 8)"
        >
          8
        </button>
        <button
          class="sombrilla"
          id="s9"
          (click)="reservableSeleccionar('s9', 'sombrilla', 9)"
        >
          9
        </button>
      </div>
      <!--segunda fila-->
      <div class="mt-2 text-center">
        <button
          class="sombrilla"
          id="s10"
          (click)="reservableSeleccionar('s10', 'sombrilla', 10)"
        >
          10
        </button>
        <button
          class="sombrilla"
          id="s11"
          (click)="reservableSeleccionar('s11', 'sombrilla', 11)"
        >
          11
        </button>
        <button
          class="sombrilla"
          id="s12"
          (click)="reservableSeleccionar('s12', 'sombrilla', 12)"
        >
          12
        </button>
        <button
          class="sombrilla"
          id="s13"
          (click)="reservableSeleccionar('s13', 'sombrilla', 13)"
        >
          13
        </button>
        <button
          class="sombrilla"
          id="s14"
          (click)="reservableSeleccionar('s14', 'sombrilla', 14)"
        >
          14
        </button>
        <button
          class="sombrilla"
          id="s15"
          (click)="reservableSeleccionar('s15', 'sombrilla', 15)"
        >
          15
        </button>
        <button
          class="sombrilla"
          id="s16"
          (click)="reservableSeleccionar('s16', 'sombrilla', 16)"
        >
          16
        </button>
        <button
          class="sombrilla"
          id="s17"
          (click)="reservableSeleccionar('s17', 'sombrilla', 17)"
        >
          17
        </button>
        <button
          class="sombrilla"
          id="s18"
          (click)="reservableSeleccionar('s18', 'sombrilla', 18)"
        >
          18
        </button>
      </div>
      <!--tercera fila-->
      <div class="mt-2 text-center">
        <button
          class="sombrilla"
          id="s19"
          (click)="reservableSeleccionar('s19', 'sombrilla', 19)"
        >
          19
        </button>
        <button
          class="sombrilla"
          id="s20"
          (click)="reservableSeleccionar('s20', 'sombrilla', 20)"
        >
          20
        </button>
        <button
          class="sombrilla"
          id="s21"
          (click)="reservableSeleccionar('s21', 'sombrilla', 21)"
        >
          21
        </button>
        <button
          class="sombrilla"
          id="s22"
          (click)="reservableSeleccionar('s22', 'sombrilla', 22)"
        >
          22
        </button>
        <button
          class="sombrilla"
          id="s23"
          (click)="reservableSeleccionar('s23', 'sombrilla', 23)"
        >
          23
        </button>
        <button
          class="sombrilla"
          id="s24"
          (click)="reservableSeleccionar('s24', 'sombrilla', 24)"
        >
          24
        </button>
        <button
          class="sombrilla"
          id="s25"
          (click)="reservableSeleccionar('s25', 'sombrilla', 25)"
        >
          25
        </button>
        <button
          class="sombrilla"
          id="s26"
          (click)="reservableSeleccionar('s26', 'sombrilla', 26)"
        >
          26
        </button>
        <button
          class="sombrilla"
          id="s27"
          (click)="reservableSeleccionar('s27', 'sombrilla', 27)"
        >
          27
        </button>
      </div>
    </div>
  </div>

</div>

