<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Fecha</th>
      <th scope="col">Cantidad Item</th>
      <th scope="col">Estado</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservas" id="{{ reservas.indexOf(reserva) }}">
      <th scope="row" name="reservaid">{{ reserva.id }}</th>
      <td>{{ reserva.fecha }}</td>
      <td>{{ reserva.detalles.length }}</td>

      <td>{{ reserva.estado }}</td>
      <td>
        <div *ngIf="(reserva.estado=='impago')">
        <input type="file" name="comprobante"/>
        <button class="btn btn-primary" type="button" (click)="subirArchivo($event)">
          Enviar
        </button>
      </div>
        <div *ngIf="reserva.estado=='procesando'">
          <span>Estamos chequeado su pago, el mismo se procesara en las siguientes 72hs </span>

      </div>
      </td>
    </tr>
  </tbody>
</table>
