{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/acceso">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'angularapp/favicon.ico' %}">
</head>
<body>
  <app-root></app-root>
  <script src="{% static 'angularapp/runtime.js' %}" defer></script>
  <script src="{% static 'angularapp/polyfills.js' %}" defer></script>
  <script src="{% static 'angularapp/styles.js' %}" defer></script>
  <script src="{% static 'angularapp/vendor.js' %}" defer></script>
  <script src="{% static 'angularapp/main.js' %}" defer></script>
</body>
</html>
