<footer class="page-footer font-small stylish-color-dark pt-4 fondo-busqueda pb-5">

    <div class="container text-center text-md-left">

        <div class="row">

            <div class="col-md-6 mx-auto text-center">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-0">CONTACTO</h5>
                <hr>
                <p class="mb-0 mt-3">Ruta 11 y Avenida del Mar Miramar - Buenos Aires - Argentina</p>
                <p class="mb-0">Tel-fax: (02291) 42-2870 / (0221) 451-6843 / (0221) 534-5105</p>
                <p>ó Escribirnos a: pepe@balneariopepe.com.ar</p>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-6 mx-auto text-center">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-0">SIGUENOS EN</h5>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-3x"> </i></a>
                        <a href="#!"><i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-3x"> </i></a>
                        <a href="#!"><i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-3x"> </i></a>
                    </li>
                    <li class="mt-2">
                        <span>© 2020 Copyright:
                            MDBootstrap.com</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>